/* Here is your custom css styles. */
.github-corner svg {
    color: #a44dc7 !important;
}

.toc-widget.card {
    background-color: #FAF9DE !important;
}

.card {
    background-color: #FAF9DE !important;
}

/* .card-content {
    background: linear-gradient(to top,#FADCC0 0%, #a9a3c8 33%, #8499c8 66%, #c5a8FF 100%);
    border-radius: 15px !important;
} */