/* Here is your custom css styles. */
.github-corner svg {
    color: #a44dc7 !important;
}

.toc-widget.card {
    background-color: #FAF9DE !important;
}

.card {
    background-color: #FAF9DE !important;
}